* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

.myContainer {
    max-width: 50vw;
    height: 100%;
    margin: auto;
}

ul {
    list-style: square;
}

nav ul,
footer ul {
    list-style: none;
}

main {
    padding-bottom: 2rem;
}

main a {
    color: #FF7D00;
    text-decoration: none;
}

main a:hover {
    color: #FF7D00;
}

body {
    padding-top: 48px;
}

.row {
    margin-bottom: 1rem;
}

pre {
    padding: 1rem;
}

nav {
    background-color: #222222;
    color: #ffffff;

    position: fixed;
    top: 0;

    height: 48px;
    width: 100vw;
}

nav > div.myContainer {
    position: relative;
}

nav > div.myContainer > ul {
    display: inline;
    position: absolute;
    right: 0;
}

nav > div.myContainer > ul > li{
    display: inline;
    line-height: 48px;
    margin-left: 1rem;
}

div.myContainer > ul > li > a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}

div.myContainer > ul > li > a:hover{
    color: #FF7D00;
}

main {
    margin: 2rem 0 4rem 0;
}

footer {
    background-color: #222222;
    color: #ffffff;

    height: 64px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    line-height: 64px;
}

footer > div.myContainer {
    position: relative;
}

footer > div.myContainer > * {
    display: inline;
}

footer > div.myContainer > ul {
    display: inline;
    position: absolute;
    right: 0;
}

footer > div.myContainer > ul > li{
    display: inline;
    line-height: 64px;
    margin-left: 1rem;
}

footer > div.myContainer > ul > li > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}

footer > div.myContainer > ul > li > a:hover{
    color: #FF7D00;
}

.logo {
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav > div.myContainer > button, .mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .myContainer {
        max-width: 70vw;
        height: 100%;
        margin: auto;
    }

    nav > div.myContainer > ul {
        display: none;
    }

    nav > div.myContainer > button {
        display: block;
        font-size: 2rem;
        float: right;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0);
        outline: none;
        border: none;

        height: 100%;

        position: relative;
        top: 0;
        right: 0;
    }

    .mobile {
        display: block;

        background-color: #222222;

        position: fixed;
        width: 100%;
        height: fit-content;

        top: 50%;
    }
}